# general http/s proxy settings for speedup builds
SQUID_HOST=
SQUID_HTTP_PORT=
SQUID_HTTPS_PORT=

# docker-registry-proxy https://github.com/rpardini/docker-registry-proxy
# can be used to speedup builds
DOCKER_REGISTRY_PROXY_HOST=
DOCKER_REGISTRY_PROXY_PORT=

# here you should also add $SQUID_HOST
# and $DOCKER_REGISTRY_PROXY_HOST addresses
NO_PROXY="localhost,127.0.0.1,10.0.0.0/8,172.0.0.0/8,docker,kube-apps-httpcache-control-plane"
