/.git
/.github
/.gitlab-ci-local
/.idea
/.vscode
/test
/build
!/build/package/docker/entrypoint.sh
!/build/package/docker/act/entrypoint.sh
/chart
/debug
!/debug/ca/docker-registry-proxy-ca.crt
!/debug/ca/squid-ca.pem
!/debug/skaffold/build/package/docker
!/debug/configure-containerd-service-proxy.sh
!/debug/configure-docker-registry-proxy-ca.sh
!/debug/configure-docker-service-proxy.sh
!/debug/configure-squid-ca.sh
/deploy
/dist
/LICENSE
.actrc*
.travis.yml
.gitignore
.goreleaser.yml
/README.md
