/.git
/.github
/.idea
/.vscode
test/
build/
!build/package/docker/entrypoint.sh
chart/
deploy/
dist/
skaffold/
!skaffold/build/package/docker/entrypoint.sh
edit_applications_cm.sh
LICENSE
.actrc*
.travis.yml
.gitignore
.goreleaser.yml
README.md
