/.idea
/.gitlab-ci-local
/vendor
/kube-apps-httpcache
/build/act/Dockerfile.act-base
/build/act/Dockerfile.buildkit-base
/build/act/Dockerfile.kind-base
/build/gcl/Dockerfile.dind
/build/gcl/Dockerfile.docker_git
/build/gcl/Dockerfile.gcl-base
/build/package/docker/act/Dockerfile
/build/package/docker/act/GoReleaser.Dockerfile
/debug/ca/docker-registry-proxy-ca.crt
/debug/ca/squid-ca.pem
/debug/skaffold/build/package/docker/Dockerfile.base
/debug/skaffold/build/package/docker/Dockerfile.debug
/debug/skaffold/build/package/docker/Dockerfile.kind-base
/dist
*.vcl
*.vcl.tmpl
*.env
*.docker-compose.override.yml
.actrc*
